/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #888;
    background-color: #6C6F7D;
  }

.minor-section pre{
  text-align: left;
  font-family: monospace;
  margin: 0 auto;
  padding: 10px;
  background-color: #eee;
  color: black;
  border-radius: 8px;
  max-width: 90%;
  line-height: 1.4;
  white-space: pre-wrap;
}

.minor-section code{
  display: inline-block;
  text-align: left;
}

.image{
  width: 650px;
}